<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Pizza: [[${pizza.name}]]</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('Pizza Singola')}"></nav>
    <main class="container p-4" th:object="${pizza}">
        <div class="card shadow-lg p-0">
            <div class="row g-0">
                <div class="col-md-5 p-2">
                    <img th:src="*{imageUrl}" class="img-fluid rounded-start h-100 object-fit-cover" th:alt="*{name}">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h1 class="card-title">[[*{name}]]</h1>
                        <p class="card-text text-muted">Ingredienti: [[*{description}]]</p>
                        <hr />
                        <h4 class="card-text text-end mt-4">Prezzo: [[*{price}]] €</h4>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>